@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html{
/*   set the following properties: 
  font-size - this will be the base font size for the site
  font-family - this will be the base font-family for the site
  line-height - base line height, generally should be in the range 1.5-1.8 
  color- primary text color for the site
  background-color - primary background color for the site */


  /* Base font */
  font-family:"Lora", serif; 
  font size: 24px;
  line-height: 1.6;
  color: #000;
}

body{
  color: #000;
  background: #B435BE;
  width:80ch;
  margin-left: auto;
  margin-right: auto;
}

/* General heading styles */
h1, h2, h3, h4, h5, h6{
  /* set font styles for all of your headings, for example font-weight, line-height, font-family */
   font-family: font-family: "Roboto", sans-serif;
   font-weight: 700;
}

/* Specific element text styles */
h1{
  /*   this is the page title */
   font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h2{
  font-weight: 900;
  
}

p{

  margin-bottom: 1rem; /* optional but usually good to have a space between paragraphs */

  a{
    color: #E24685;
  }
  a:hover{
    color: ffffff;
  }

a:visited{
  color: #942C9C;
}
/* -------------  Header styles ------------------------- */
header {
  display: flex;
  justify-content: space-between; /* site title left, nav right */
  align-items: center;           /* vertical centering */
  padding: 1rem;
} 
/* Styles the site title at the top of the header */
.site-title {
  font-size: 1.5rem;
  font-weight: bold;
}

nav ul {
  list-style: none;   /* remove bullets */
  margin: 0;
  padding: 0;
  display: flex;      /* horizontal layout for links */
  gap: 1rem;          /* space between items */
}

nav a {
  text-decoration: none;
  color: 
#333;
  font-weight: 500;
}

nav a:hover {
  color: 
color: ffffff;/* hover color */
}
nav a:visited {
  color: ffffff;

}

/* ------------- END Header styles  */